// ngx-datatable.bootstrap.ngx-datatable.fixed-header.virtualized {
//     width: 760% !important;
// }

.topClass{
    top:5px;
}

.ng-select{
    min-width: 200px !important;
}
.expandView{
    padding-left: 250px;
}

.foot {
	display: block;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.left {
    margin: 0px 33px;
}

