<section id="shopping-cart">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title ">Todo</h4>
          <p class="content-sub-header">Double click on any content to edit that section.</p>
          <a  (click)="add()"   class="btn btn-floating halfway-fab btn-large bg-warning topClass"><i class="ft-plus"></i></a>
        </div>
        <div class="card-content">
          <div class="card-body">
              <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
              /> -->
              <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50"
              [rowHeight]="'auto'" [rows]="rows">
              <ngx-datatable-column [width]="100" name="Action">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                          <h4 class="modal-title">Are you sure you want to delete this?</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <!-- <div class="modal-body">
                          <button type="button" class="btn btn-secondary btn-raised" (click)="deleteBrand($event, 'name', rowIndex); c('Close click');">Sure</button>
                        </div> -->
                        <div class="foot">
                          <button style="float: left;" type="button" class="btn btn-secondary btn-raised left" (click)="delete($event, 'name', rowIndex); c('Close click');">Sure</button>
                          <button  style="float: right;" type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                        </div>
                      </ng-template>
                        <a class="danger p-0" (click)="open(content)" data-original-title="" title="Click to delete">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="200" name="Name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      <span [ngClass]="{'container-fluid expandView': value==null  || value == undefined || value=='' && value!==0 }" title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
                          {{value}}
                      </span>
                      <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" type="text" [value]="value"
                      />
                  </ng-template>
              </ngx-datatable-column>

          </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>