<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Add New</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Info</h4>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> Basic Info</h4>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="pObj.name"   >
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button (click)="goTolist()" type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button (click)="save()" type="button" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>  
          </div>
        </div>
      </div>
    </div>

    
  </div>
</section>